.brief__header {
  display: flex;
  align-items: center;

  padding: 5px $padding-sidebar-mobile;

  background-color: $color-bg-sidebar-headers;
}

.brief__header-text {
  margin-left: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.brief__header-icon-wrapper {
  flex-grow: 0;
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;
}

.brief__header-icon {
  width: 80%;
  height: 80%;

  fill: $color-text-primary;
}

.brief__list {
  @include list-reset;
  padding: 0 $padding-sidebar-mobile;
}

.brief__list-item {
  @include list-reset;

  margin-top: 20px;
  margin-bottom: 20px;
}

.brief__list-item-title-wrapper {
  display: flex;
  align-items: center;
}

.brief__list-icon-wrapper {
  flex-grow: 0;
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
}

.brief__list-icon {
  width: 100%;
  height: 100%;

  fill: $color-text-primary;
}

.brief__list-item-title {
  margin-left: 15px;
  line-height: normal;
}

.brief__list-item-description {
  margin: 5px 0;
  font-size: 80%;
  line-height: normal;
  color: darken($color-text-primary, 20%);
}

.brief__list-link {
  text-decoration: none;
  color: inherit;

  opacity: 1;

  &:visited {
    color: lighten($color-text-secondary, 55%);
  }

  &:hover,
  &:active {
    filter: drop-shadow(0 0 2px $color-headers-primary);
  }

  transition: filter 0.1s ease-in-out;
}
