.content-block {
  margin-top: 25px;
  margin-bottom: 25px;

  padding: 0 $padding-content-mobile;

  background-color: $color-bg-primary;
  color: $color-text-primary;

  & p {
    margin: 18px 0;
  }
}

.content-block__link {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:active {
    filter: drop-shadow(0 0 2px $color-headers-primary);
  }

  transition: filter 0.1s ease-in-out;
}

.content-block__title {
  @include block-reset;

  margin-bottom: 10px;
  line-height: 1.3;

  &--t1 {
    text-transform: uppercase;

    font-size: $font-size-page-title;
    color: $color-headers-secondary;
  }

  &--t2 {
    margin-top: 25px;
    margin-bottom: 25px;

    text-transform: uppercase;

    font-size: $font-size-section-title;
    color: $color-headers-primary;
  }

  &--t3 {
    margin-top: 20px;
    margin-bottom: 20px;

    font-size: $font-size-section-subtitle;
    color: $color-headers-secondary;
  }

  &--t4 {
    margin-top: 18px;
    margin-bottom: 18px;
  }
}

.content-block__note {
  font-weight: 400;
  color: darken($color-text-primary, 25%);
}

.content-block__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;

  border-radius: 4px;
}

.content-block__list-item {
  position: relative;

  margin: 5px;
  padding: 5px;

  transition: 0.2s;
  border-radius: 4px;

  background-color: $color-bg-sidebar;

  &:hover {
    background-color: $color-bg-sidebar-headers;
  }

  &:focus {
    outline: none;
    background-color: $color-bg-sidebar-headers;
  }
}

.content-block__sublist {
  @include list-reset;

  z-index: 10;

  position: absolute;
  top: 100%;
  left: 0;

  border-radius: 6px;

  min-width: 100%;
  white-space: nowrap;

  font-size: 80%;

  background-color: darken($color-bg-primary, 5%);
}

.content-block__sublist-item {
  margin: 2px;
  padding: 5px;

  border-radius: 4px;

  background-color: $color-bg-sidebar;
}

@media (min-width: $width-tablet) {
  .content-block {
    padding: 0 $padding-content-tablet;
  }


  .content-block__title {
    &--t1 {
      margin-top: 40px;
    }
  }
}
