.footer {
  padding: 10px $padding-content-mobile;

  font-size: 12px;
  color: darken($color-text-primary, 30%);

  background-color: $color-bg-sidebar-headers;

  & a {
    color: darken($color-text-primary, 20%);

    &:visited {
      color: darken($color-text-primary, 40%);
    }

    &:hover {
      color: $color-text-primary;
    }

    transition: color 0.2s ease-in-out;
  }
}

@media (min-width: $width-tablet) {
  .footer {
    padding: 10px $padding-content-tablet;
  }
}
