.percentage-slider {
  width: 100%;
  height: 8px;

  border: solid 1px $color-text-primary;
  border-radius: 5px;
}

.percentage-slider__value {
  background-color: $color-text-primary;
  width: 30%;
  height: 100%;

  border-radius: 5px;

  &--js {
    width: 80%;
  }

  &--git {
    width: 80%;
  }

  &--html {
    width: 80%;
  }

  &--css {
    width: 80%;
  }

  &--svg {
    width: 80%;
  }

  &--management {
    width: 100%;
  }

  &--english {
    width: 85%;
  }
}
