.sidebar {
  padding-bottom: 5px;

  font-size: 16px;
  color: $color-text-primary;

  background-color: $color-bg-sidebar;
}

.sidebar__avatar-wrapper {
  position: relative;

  margin-right: auto;
  margin-left: auto;

  max-width: 320px;
}

.sidebar__avatar {
  display: block;
  width: 100%;
}

@media (min-width: $width-tablet) {
  .sidebar {
    flex-shrink: 0;
    flex-grow: 0;

    width: 320px;
  }
}
