$width-mobile: 320px !default;
$width-tablet: 768px !default;
$width-desktop: 1300px !default;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;

  min-width: $width-mobile;

  background-color: $color-bg-body;
  background-image: url("/img/arachnid-close-up-cobweb-276347.jpg");
  background-attachment: fixed;
  background-size: contain;
}
