$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1100px;


$padding-sidebar-mobile: 20px;
$padding-content-mobile: 20px;
$padding-content-tablet: 30px;

/*colors*/
$color-bg-sidebar: #2B3A42;
$color-bg-sidebar-headers: #0c161c;


$color-bg-primary: #3F5765;
$color-bg-body: #000912;
$color-headers-primary: #E45E2C;
$color-headers-secondary: #BDD4DE;
$color-text-primary: #EFEFEF;
$color-text-secondary: #2B3A42;

/*fonts*/
$font-size-page-title: 30px;
$font-size-section-title: 26px;
$font-size-section-subtitle: 24px;
